/*---------------------------
[Template Structure]

Project:	 Biel USMF Formatter App
Version:	 1.0
Primary Use: App Template for Result/Final Step 4
Layout:      Responsive
Platforms:   Desktop, Mobile & Tablet
Author:      Ricky Ratliff
Date:        March 04, 2020
-----------------------------

@charset "UTF-8";

/* 1. General */

.disabled {
    display: none;
}

body {
    background-color: #FFFFFF;
}

.breadcrumb {
    height: 10%;
    list-style: none;
    overflow: hidden;
    font: 18px Sans-Serif;
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 20px;
}

.breadcrumb li {
    float: left;
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 65px;
    background: brown;
    /* fallback color */
    background: hsla(34, 85%, 35%, 1);
    position: relative;
    display: block;
    float: left;
}

h1 {
    margin-left: 10px;
    margin-bottom: 0px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    letter-spacing: 0;
    color: #1A1A1A;
}

h2 {
    margin-left: 30px;
    margin-bottom: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 100;
    text-align: center;
    color: #1a1a1a;
}

h4 {
    margin-bottom: 5px;
    margin-left: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    color: #1A1A1A;
}

h5 {
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    color: #636161;
}

img {
    max-width: 40%;
    height: auto;
    width: auto\9;
    /* ie8 */
}

@media only screen and (min-width: 400px) {
    max-width: 10%;
    height: auto;
    width: auto\9;
}

.image {
    margin-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-heading {
    width: 100%;
    margin-top: 50px;
    display: inline-block;
    text-align: center;
}

.content-sub-heading {
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
    z-index: 60;
    position: relative;
    display: inline-block;
    /*border-bottom: 2px solid #DDDDDD;*/
}

.input-form-control {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: 10px;
    height: 26px;
    width: 100%;
    border: 2px solid #1D73EF;
    border-radius: 7px;
    text-align: left;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0;
    color: #C3C3C3;
    opacity: 1;
}

.btn-home {
    color: #1D73EF;
    width: 55%;
    max-width: 200px;
    padding: 8px 0px 8px 5px;
    background-size: 25px auto;
    border-radius: 5px;
    background: url('/assets/img/button-previous.png') 18% 40% no-repeat;
    box-shadow: 0px 2px 0px #00377C;
    border: 1px solid #1D73EF;
    border-radius: 4px;
    opacity: 1;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 30px;
    cursor: pointer;
    height: 40px;
}

.button-parent {
    margin-top: 30px;
    margin-bottom: 5px;
    border-bottom: 1px solid #c3c3c3;
    text-align: center;
}

.progress-parent {
    display: inline-flexbox;
    padding-bottom: 10px;
    text-align: center;
    float: center;
    justify-content: center;
}

.left {
    margin-left: 5%;
    padding-top: 20px;
    width: 80%;
    float: left;
    background-color: #FFFFFF;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}