<form #myForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="all-elements">
        <br><br><br>
        <div class="title-section">
            <div class="heading">Step 2</div>
            <div class="subheading">Format Options</div>
        </div>
        <div class="form-parent">
            <div class="line-height-parent" id="line-height-parent">
                <div class="left">
                    <label class="label-height-wrapper" for="line_height">
                        <div class="container"><img src="assets/img/linespc_icon.svg" ></div>
                        <div class="element">Line height</div>
                    </label>
                </div>
                <div class="right" style="display: inline-flex;">
                    <div>
                        <button type="button" class="ico-remove-btn" (click)="decrementHeight()"></button>
                    </div>
                    <div class="adjust-value">{{height}}</div>
                    <div>
                        <button type="button" class="ico-add-btn" (click)="incrementHeight()"></button>
                    </div>
                </div>
                <br><br><br>
            </div>
            <div class="columns-parent" id="columns-parent">
                <div class="left">
                    <label class="label-columns-wrapper" for="columns">
                        <div class="container"><img src="assets/img/group_icon.svg" /></div>
                        <div class="element">Columns</div>
                    </label>
                </div>
                <div class="right" style="display: inline-flex;">
                    <div>
                        <button type="button" class="ico-remove-btn" (click)="decrementColumns()" [class.button-disabled]></button>
                    </div>
                    <div class="adjust-value">{{columns}}</div>
                    <div>
                        <button type="button" class="ico-add-btn" (click)="incrementColumns()"></button>
                    </div>
                </div>
                <br><br><br>
            </div>

            <div class="verses-parent" id="verses-parent">
                <div class="left">
                    <label class="label-verses-wrapper" for="verses">
                        <div class="container"><img src="assets/img/bookmark.svg" /></div>
                        <div class="element">Verse Break</div>
                    </label>
                </div>
                <div class="right" style="display: inline-flex;">
                    <div>
                        <label class="switch">
                            <input type="checkbox" id="verses" (click)="setVersesBreak()" >
                            <span class="slider round"></span>
                          </label>
                    </div>
                </div>
                <br><br><br>
            </div>

            <div class="chapters-parent" id="chapters-parent">
                <div class="left">
                    <label class="label-chapters-wrapper" for="chapters">
                        <div class="container"><img src="assets/img/book.svg" /></div>
                        <div class="element">Chapter Break</div>
                    </label>
                </div>
                <div class="right" style="display: inline-flex;">
                    <div>
                        <label class="switch">
                            <input type="checkbox" id="chapters" (click)="setChaptersBreak()">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <br><br><br>
            </div>

        </div>
    </div>
    <div id="footer">
        <div class="button-parent" id="button-parent">
            <button class="btn-prev" type="button" (click)="goBack()">&nbsp;</button>
            <button class="btn-next" type="submit">Next: Naming</button>
        </div>
        <div class="progress-parent" id="progress-parent">
            <h4>Download {{bookName}}</h4>
            <img src="assets/img/progress-bar-2.png" style="max-width:200px;height:auto;">
        </div>
    </div>
</form>