<div class="content" style="justify-content: center;">

    <div class="link-container"> 
        <a class="link" target="_blank" rel="noopener" [routerLink]="['/download']" >
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>   
          <span>Back to Bible in Every Language</span>
        </a>
    </div>    
    <br><br>
        <div style="height: 320px;">
            <img src="assets/img/completed-files.png" style="width: 100%;max-height: 100%"/>
        </div>
        
        <div class="lower-container" >
            <h2 style="margin-bottom: 0px;">Your files are downloading!</h2>
            <h3>If your download hasn't started, please <a [routerLink]="['/download']" style="color:#015ad9;">click here</a> to restart it.</h3>
        </div>
    <form #downloadForm="ngForm" > 
        
        <div class="input-container">
            <div class="input-control-wrapper">
                <div class="custom-btn">
                    <button class="btn ico-btn" type="button" [routerLink]="['/moreBooks']" >Download more Books</button>
                </div>              
            </div>  
        </div>    

        <div class="lower-container" >
            
            <h2>Opening your Files</h2>
            <h3>We recomment installing LibreOffice to get the most out of .docx files.</h3>   
           
            <div class="input-container">
                <div class="input-control-wrapper">
                    <div class="custom-btn-2"> 
                        <button class="btn ico-btn-2" type="button" onclick="javascript:window.open('https://www.libreoffice.org/download/download/','_blank');" >Download LibreOffice</button>
                    </div>              
                </div>  
            </div> 
        </div>

    </form>


</div>
