<div class="image" style="padding-top: 150px;">
    <img src="assets/img/converter-component.png">
</div>


<div class="content">
    <div class="content-sub-heading">
        <h1>USFM Online Converter</h1>
        <div class="one-half-responsive full-bottom">
            <h2>
                Enter a repository link to get started or search Bible in Every Language for a curated list of projects.
            </h2>
            <br>
            <p class="error" *ngIf="!validRepo">
                <img src="assets/img/error.png" width="15" height="15"> The repository link entered is invalid.</p>
        </div>
        <div class="one-half-responsive last-column full-bottom">
            <form [formGroup]="repoForm" (ngSubmit)="validateRepoLink()" novalidate>
                <h4>Repository Link</h4>
                <div formGroupName="repoData" novalidate>
                    <input type="text" id="url" formControlName="url" class="input-form-control" name="url" [(ngModel)]="repository.url" placeholder="Type repository name here" tabindex="1" (keyup)="activateFormControls()">
                </div>
                <h5>We support links from both WACS and DCS.</h5>
                <br>
                <button id="btnRepo" class="btn-load-repo" type="submit">Load Repository</button>
            </form>
        </div>
    </div>
</div>