<form [formGroup]="fileForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="all-elements">
        <br><br><br>
        <div class="title-section">
            <div class="heading">Step 3</div>
            <div class="subheading">Name Your File</div>
        </div>
        <div class="form-parent">
            <div class="filename-parent" id="filename-parent">
                <div class="left">
                    <p class="error" *ngIf="!isValid">
                        <img src="assets/img/error.png" width="15" height="15"> The filename entered is empty or invalid.
                    </p>
                    <h4>File Name</h4>
                    <div formGroupName="fileData" novalidate>
                        <div class="input-container">
                            <input formControlName="filename" type="text" class="input-form-control" placeholder="enter filename" />
                            <i class="icon" id="filetype">.PDF</i>
                        </div>
                        <br>
                        <div style="height:200px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="button-parent" id="button-parent">
            <button class="btn-prev" type="button" (click)="goBack()">&nbsp;</button>
            <button class="btn-next" type="submit">Download</button>
        </div>
        <div class="progress-parent" id="progress-parent">
            <h4>Download {{bookName}}</h4>
            <img src="assets/img/progress-bar-3.png" style="max-width:200px;height:auto;">
        </div>
    </div>
</form>